<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
   <title>CS 530</title>
    <link href="{{ url_for('static', filename='lib/login/login.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


    <title>CS 530</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Template Stylesheet -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>


    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>NatureQuest</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/home" class="nav-item nav-link">Home</a>
                    <a href="/noti" class="nav-item nav-link">Activities</a>
                  
                    <a href="#stories" class="nav-item nav-link ">Stories</a>
                    <a href="/marketplace" class="nav-item nav-link">Contributions</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Help</a>
                        <div class="dropdown-menu m-0">
                            <a href="/faq" class="dropdown-item">FAQs</a>
                            <a href="#Activities" class="dropdown-item">Chat With Us</a>

                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        {% if login_success %}
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i>
                        </a>
                       <div class="dropdown-menu m-0">
                            <a href="/profile" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Photos</a>
                            <a href="#" class="dropdown-item"> Trips</a>
                           
                            <a href="/logout" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                    <a href="package.html" class="nav-item nav-link"></a>
                    {% else %}
                    <a href="/loginpage" class="nav-item nav-link">Login</a>
                    {% endif %}
                </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Adventure Story</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="/stories">All Stories</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Full Story</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-left wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5 break-left">
                    {{ story['story'] }}

                </h1>
                <h6 class="mb-5 break-left">
                    </h1>Travel from Boston to Bar Harbor and beyond on this scenic, family-friendly adventure</h6>
                <p>By <span>{{ story['name'] }}</span> | <span>{{ story['datetime'] }}</span></p>
            </div>
            <div class="row g-5">
                <div class="container1">
                    <div class="left-section">
                        <!-- Header -->
                        <header>
                            <p>
                                {{ story['story'] }}

                            <p>
                        </header>
                    </div>
                    <div class="right-section">
                        <div class="slider-container">
                            <div class="slides">
                                <img src="data:image/png;base64,{{ story['image_base64'] }}" alt="Image 1"
                                    class="slider-image">

                                <!-- Add more images as needed -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    <div style="position: relative; text-align: center; margin-top: 20px;">
        <a href="{{ url_for('stories') }}" class="btn btn-primary rounded-pill py-2 px-4" style="margin-right: 10px;">Back
            to All Stories
        </a>

    </div>
  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">

            </div>
            <div class="col-lg-3 col-md-6">

                <div class="d-flex pt-2">

                </div>
            </div>
            <div class="col-lg-3 col-md-6">

            </div>

        </div>
    </div>

</div>
<!-- Footer End -->
        <!-- Footer End -->
    
    
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    
    
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="static/lib/wow/wow.min.js"></script>
        <script src="static/lib/easing/easing.min.js"></script>
        <script src="static/lib/waypoints/waypoints.min.js"></script>
        <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="static/lib/tempusdominus/js/moment.min.js"></script>
        <script src="static/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    
        <!-- Template Javascript -->
        <script src="static/js/main.js"></script>
    </body>

</html>