<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   <title>CS 530</title>


    <title>CS 530</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">



    <!-- Libraries Stylesheet -->
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/nexttrip.css" rel="stylesheet">
    <link href="static/css/market.css" rel="stylesheet">
</head>

<body>




    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>NatureQuest</h1>
                <!-- <img src="/static/img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/home" class="nav-item nav-link">Home</a>
                    <a href="/noti" class="nav-item nav-link">Activities</a>
                    <a href="/stories" class="nav-item nav-link ">Stories</a>
                    <a href="/marketplace" class="nav-item nav-link">Contributions</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Help</a>
                        <div class="dropdown-menu m-0">
                            <a href="/faq" class="dropdown-item">FAQs</a>
                            <a href="#Activities" class="dropdown-item">Chat With Us</a>

                        </div>
                    </div>


                    <div class="nav-item dropdown">
                        {% if login_success %}
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i>
                        </a>
                       <div class="dropdown-menu m-0">
                            <a href="/profile" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Photos</a>
                            <a href="#" class="dropdown-item"> Trips</a>
                           
                            <a href="/logout" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                    <a href="package.html" class="nav-item nav-link"></a>
                    {% else %}
                    <a href="/loginpage" class="nav-item nav-link">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Contributions</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Contributions</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->
    <div class="products-container-wrap">

        <div class="container-xxl py-5">

            <div class="search-bar">
                <label for="search-input"></label>
                <input type="text" id="search-input" placeholder="Enter keywords...">
                <button id="search-button" class="rounded-pill py-2 px-4">Search</button>
            </div>

            <main>

                <div class="left-section">

                    <ul>
                        <div class="category-tags">
                            <button class="filter-button rounded-pill py-2 px-4" data-category="all-listing">
                                <i class="bi bi-list-ul text-success fs-5 me-2"></i> All Listings
                            </button>
                            <button class="filter-button rounded-pill py-2 px-4" data-category="your-listing">
                                <i class="bi bi-person text-success fs-5 me-2"></i> Your Listings
                            </button>
                            <button class="filter-button rounded-pill py-2 px-4" data-category="saved-listing">
                                <i class="bi bi-bookmark text-success fs-5 me-2"></i> Saved Listings
                            </button>
                        </div>
                        
                    </ul>
                </div>

                <section class="products">
                    <div class="product-container">
                        <div class="product" data-category="your-listing">
                            <div class="product-image">
                                <a href="/product">
                                    <img src="static/img/pexels-photo-2582818.jpeg" alt="Product 1">
                                </a>
                                <span class="save-icon"><i class="bi bi-bookmark-fill"></i></span> <!-- Save icon -->
                            </div>
                            <h3 class="product-title">Lightweight tents</h3>
                            <p class="product-description">7 min ago · 6.3 mi · Springfield</p>
                        </div>
                
                        <div class="product" data-category="your-listing">
                            <div class="product-image">
                                <a href="/product">
                                    <img src="static/img/pexels-photo-2582818.jpeg" alt="Product 1">
                                </a>
                                <span class="save-icon"><i class="bi bi-bookmark-fill"></i></span> <!-- Save icon -->
                            </div>
                            <h3 class="product-title">Water filtration systems</h3>
                            <p class="product-description">1 hr ago · 1.8 mi · Philadelphia</p>
                        </div>
                
                        <div class="product" data-category="your-listing">
                            <div class="product-image">
                                <a href="/product">
                                    <img src="static/img/pexels-photo-2582818.jpeg" alt="Product 1">
                                </a>
                                <span class="save-icon"><i class="bi bi-bookmark-fill"></i></span> <!-- Save icon -->
                            </div>
                            <h3 class="product-title">Shovels and spades</h3>
                            <p class="product-description">2 hr ago · 9.6 mi · Conshohocken</p>
                        </div>
                
                        <div class="product" data-category="your-listing">
                            <div class="product-image">
                                <a href="/product">
                                    <img src="static/img/resort-911968_1280.jpg" alt="Product 2">
                                </a>
                                <span class="save-icon"><i class="bi bi-bookmark-fill"></i></span> <!-- Save icon -->
                            </div>
                            <h3 class="product-title">Tree saplings</h3>
                            <p class="product-description">1 hr ago · 5.3 mi · Sharon Hill</p>
                        </div>
                
                        <div class="product" data-category="your-listing">
                            <div class="product-image">
                                <a href="/product">
                                    <img src="static/img/resort-911968_1280.jpg" alt="Product 2">
                                </a>
                                <span class="save-icon"><i class="bi bi-bookmark-fill"></i></span> <!-- Save icon -->
                            </div>
                            <div class="product-details">
                                <h3 class="product-title">Wildlife observation tools</h3>
                                <p class="product-description">1 hr ago · 5.7 mi · Ardmore</p>
                            </div>
                        </div>
                
                        <div class="product" data-category="">
                            <div class="product-image">
                                <a href="/product">
                                    <img src="static/img/resort-911968_1280.jpg" alt="Product 1">
                                </a>
                                <span class="save-icon"><i class="bi bi-bookmark-fill"></i></span> <!-- Save icon -->
                            </div>
                            <h3 class="product-title">Environmental education kits</h3>
                            <p class="product-description">1 hr ago · 9.8 mi · Conshohocken</p>
                        </div>
                    </div>
                </section>
                

            </main>
        </div>
    </div>


    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">

            <div class="booking p-5">
                <div class="row g-5 align-items-center">
                    <div class="text-center">
                        <h2>
                            <span class="larger-text text-white text-center">Empower for Impact</span><br>
                            <span class="smaller-text text-white text-center">Contribute Resources for Purposeful
                                Adventures</span>
                        </h2>
                    </div>
                    <div class="col-md-6 text-white">
                        <h1 class="text-white text-center mb-4"></h1>
                        <p class="mb-4">The purpose of this initiative is to facilitate community-driven efforts
                            towards sustainable and impactful adventures. </p>
                        <p class="mb-4">By contributing gear and resources, participants can support eco-conscious
                            exploration while fostering a sense of purpose and collective action</p>
                    </div>
                    <div class="col-md-6">

                        <form action="/contribution" method="post" enctype="multipart/form-data">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-transparent" id="name" name="name"
                                            placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control bg-transparent" id="email" name="email"
                                            placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select transparent-input" id="category" name="category"
                                            required>
                                            <option value="" selected disabled>Select Category</option>
                                            <option value="Camping Gear">Camping Gear</option>
                                            <option value="Hiking Gear">Hiking Gear</option>
                                            <option value="Outdoor Clothing">Supplies</option>
                                            <option value="Outdoor Clothing">Educational Materials</option>

                                            <!-- Add more options as needed -->
                                        </select>
                                        <label for="category">Category</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-transparent" id="location"
                                            name="location" placeholder="Type a location">
                                        <label for="location">Location</label>
                                    </div>
                                    <div id="locationResults" class="mt-3"></div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control bg-transparent"
                                            placeholder="Write your story here" id="story" name="story"
                                            style="height: 100px"></textarea>
                                        <label for="story">Item Description</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="image" class="form-label">Upload Image(s)</label>
                                        <div class="input-group">
                                            <input type="file" class="form-control" id="image" name="image[]" multiple
                                                onchange="displaySelectedImages(this)">
                                            <label class="input-group-text" for="image">Browse</label>
                                        </div>
                                    </div>
                                    <div id="selectedImagesContainer" class="mt-3"></div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-outline-light w-100 py-3" type="submit">Post
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const filterButtons = document.querySelectorAll('.filter-button');

            filterButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const category = this.getAttribute('data-category');
                    sortAndRearrangeProducts(category);
                });
            });
        });

        function sortAndRearrangeProducts(category) {
            // Your sorting/rearranging logic goes here based on the selected category

            // Add animation class to products
            const products = document.querySelectorAll('.product');
            products.forEach(product => {
                product.classList.add('animated');
                // Remove animation class after animation completes
                product.addEventListener('animationend', () => {
                    product.classList.remove('animated');
                });
            });
        }

    </script>


    <script>

        function displaySelectedImages(input) {
            const container = document.getElementById('selectedImagesContainer');
            container.innerHTML = ''; // Clear previous images

            if (input.files && input.files.length > 0) {
                for (let i = 0; i < input.files.length; i++) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const image = document.createElement('img');
                        image.src = e.target.result;
                        image.classList.add('selected-image');
                        container.appendChild(image);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        }

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const saveIcons = document.querySelectorAll(".save-icon");

            saveIcons.forEach(icon => {
                icon.addEventListener("click", function () {
                    const product = this.closest(".product");
                    const originalCategory = product.dataset.category;
                    if (product.dataset.category === "saved-listing") {
                        product.dataset.category = originalCategory; // Revert to original category
                        this.classList.remove("clicked"); // Remove the "clicked" class to change the color back
                    } else {
                        product.dataset.category = "saved-listing"; // Change to "saved-listing" category
                        this.classList.add("clicked"); // Add the "clicked" class to change the color
                    }
                    // Optionally, you can perform additional actions here
                });
            });
        });


    </script>



    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="d-flex pt-2">

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                </div>

            </div>
        </div>

    </div>
    <!-- Footer End -->



    <!-- Back to Top -->





    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
    <script src="static/js/market.js"></script>
</body>

</html>