<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CS 530</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->





    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>NatureQuest</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/home" class="nav-item nav-link">Home</a>
                    <a href="/noti" class="nav-item nav-link">Activities</a>
                  
                    <a href="#stories" class="nav-item nav-link ">Stories</a>
                    <a href="/marketplace" class="nav-item nav-link">Contributions</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Help</a>
                        <div class="dropdown-menu m-0">
                            <a href="/faq" class="dropdown-item">FAQs</a>
                            <a href="#Activities" class="dropdown-item">Chat With Us</a>

                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        {% if login_success %}
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i>
                        </a>
                       <div class="dropdown-menu m-0">
                            <a href="/profile" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Photos</a>
                            <a href="#" class="dropdown-item"> Trips</a>
                           
                            <a href="/logout" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                    <a href="package.html" class="nav-item nav-link"></a>
                    {% else %}
                    <a href="/loginpage" class="nav-item nav-link">Login</a>
                    {% endif %}
                </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Adventure Story</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="/stories">All Stories</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Full Story</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->




    <!-- Package End -->




    <!-- Booking Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-left wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5 break-left">
                    Aboard a riverboat deep in the heart of Peru’s flooded Amazon region, you’ll help to conserve river
                    dolphins and monkeys, and protect the fragile South American wilderness.

                </h1>
                <h6 class="mb-5 break-left">
                    </h1>Travel from Boston to Bar Harbor and beyond on this scenic, family-friendly adventure</h6>
                <p>By <span>John Doe</span> | <span> 26-3-2023</span></p>
            </div>
            <div class="row g-5">
                <div class="container1">
                    <div class="left-section">
                        <!-- Header -->
                        <header>
                            <p>
                                The vast, pristine Amazonian forests of northeastern Peru are home to an incredible
                                array of wildlife. As you travel along the Yarapa River, you’ll spot pink river dolphins
                                and caimans swimming through the waters, while monkeys and extraordinary birds move
                                through the canopy overhead. In the lakes you can find a vast array of fish, and
                                sometimes you can even spot rare giant river otters hunting and playing.

                                But this spectacular diversity is declining due to recent intense climate fluctuations
                                that have caused floods and droughts. As part of an Earthwatch team, you’ll help survey
                                the area’s wildlife to gather key information about the health of the ecosystem and the
                                sustainability of traditional hunting and fishing. Through this community-based
                                approach, you’ll help researchers develop conservation strategies that confront the
                                current threats from climate change and ensure sustainable use of these valuable
                                resources.

                                You’ll sleep aboard a restored, 100-year-old air-conditioned vessel from the Rubber Boom
                                era that is moored in the Yarapa River of the Samiria-Yavari protected areas. There,
                                you’ll discover a flooded forest whose waters run from the Andes Mountains through this
                                delicate wilderness. You’ll also have the opportunity to meet and work with the Cocama
                                people from a nearby village. With your help, Earthwatch and the Cocama will develop
                                management plans to protect both the needs of the indigenous people and the wildlife of
                                the Samiria-Yavari landscape.

                            <p>
                        </header>
                    </div>
                    <div class="right-section">
                        <div class="slider-container">
                            <div class="slides">
                                <img src="static/img/Bodmer Carousel 6  credit Kimberly Chota.jpg" alt="Image 1"
                                    class="slider-image">

                                <!-- Add more images as needed -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div id="stories">
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">

                    <h1 class="mb-5">You May Also Enjoy </h1>
                </div>
                <div class="owl-carousel testimonial-carousel position-relative">
                    <div class=" bg-white text-center border p-4">
                        <div class="overflow-hidden">
                            <a href="/sample-story">
                                <img class="img-fluid" src="static/img/Bodmer Carousel 6  credit Kimberly Chota.jpg" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0">John Doe</h5>
                        <p>New York, USA</p>
                        <p class="mb-0">Aboard a riverboat deep in the heart of Peru’s flooded Amazon region, you’ll help to conserve river
                            dolphins and monkeys, and protect the fragile South American wilderness.</p>
                    </div>
                    <div class=" bg-white text-center border p-4">
                        <div class="overflow-hidden">
                            <a href="/sample-story1">
                                <img class="img-fluid" src="static/img/Mamet Carousel 2 credit Steve Mamet.jpg" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0"> Steven Mamet</h5>
                        <p>Mackenzie Mountains, Canada </p>
                        <p class="mb-0">Shrinking sea ice, retreating glaciers, a tree line migrating further north, and
                            less snow that also melts earlier—what do these climate-related changes mean for the Arctic,
                            and for all of us?</p>
                    </div>
                    <div class=" bg-white text-center border p-4">
                        <div class="overflow-hidden">
                            <a href="/sample-story2">
                                <img class="img-fluid" src="static/img/Oviedo carousel 5 credit David Herra-Miranda.jpg" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0"> Lenin E</h5>
                        <p>Golfo Dulce, Costa Rica </p>
                        <p class="mt-2 mb-0">Join researchers in the pristine wilds of Costa Rica to conduct critical research on marine mammals. Your findings may help to develop a permanent marine protected area.</p>
                    </div>
                    <div class=" bg-white text-center border p-4">
                        <div class="overflow-hidden">
                            <a href="/sample-story1">
                                <img class="img-fluid" src="static/img/Mamet Carousel 2 credit Steve Mamet.jpg" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0"> Steven Mamet</h5>
                        <p>Mackenzie Mountains, Canada </p>
                        <p class="mb-0">Shrinking sea ice, retreating glaciers, a tree line migrating further north, and
                            less snow that also melts earlier—what do these climate-related changes mean for the Arctic,
                            and for all of us?</p>
                    </div>
                
                </div>
                <div style="position: relative; text-align: center; margin-top: 20px;">
                    <a href="/stories" class="btn btn-primary rounded-pill py-2 px-4" style="margin-right: 10px;">View
                        All</a>

                </div>
            </div>

        </div>
    </div>

  <!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
         
            </div>
            <div class="col-lg-3 col-md-6">
         
                <div class="d-flex pt-2">
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
            
            </div>
    
        </div>
    </div>

</div>
<!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>

</body>

</html>