<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CS 530</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->





    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>NatureQuest</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/home" class="nav-item nav-link">Home</a>
                    <a href="/noti" class="nav-item nav-link">Activities</a>
                  
                    <a href="#stories" class="nav-item nav-link ">Stories</a>
                    <a href="/marketplace" class="nav-item nav-link">Contributions</a>
                
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Help</a>
                        <div class="dropdown-menu m-0">
                            <a href="/faq" class="dropdown-item">FAQs</a>
                            <a href="#Activities" class="dropdown-item">Chat With Us</a>

                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        {% if login_success %}
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i>
                        </a>
                       <div class="dropdown-menu m-0">
                            <a href="/profile" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Photos</a>
                            <a href="#" class="dropdown-item"> Trips</a>
                           
                            <a href="/logout" class="dropdown-item">Logout</a>
                        </div>
                    </div>
                    <a href="package.html" class="nav-item nav-link"></a>
                    {% else %}
                    <a href="/loginpage" class="nav-item nav-link">Login</a>
                    {% endif %}
                </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">Adventure Story</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="/stories">All Stories</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Full Story</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->




    <!-- Package End -->




    <!-- Booking Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-left wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5 break-left">
                    Shrinking sea ice, retreating glaciers, a tree line migrating further north, and less snow that also
                    melts earlier—what do these climate-related changes mean for the Arctic, and for all of us?

                </h1>
                <h6 class="mb-5 break-left">
                    </h1>Climate Change in the Mackenzie Mountains</h6>
                <p>By <span>Steven Mamet</span> | <span> 16-3-2024</span></p>
            </div>
            <div class="row g-5">
                <div class="container1">
                    <div class="left-section">
                        <!-- Header -->
                        <header>
                            <p>
                                Arctic landscapes are changing. Over the last two decades the Mackenzie Mountains have
                                experienced an increase of about 1.25 degrees Celsius in annual permafrost temperature.
                                As a result, trees are being outcompeted by shrubs and the permafrost is thawing. These
                                shifts will change life for every species in the Arctic. That’s why researchers are
                                working hard now to understand exactly how these lands and species work together.
                                Long-term data will allow them to see past seasonal extreme weather events and detect
                                the long-term patterns.

                                On this expedition, you’ll measure evidence of climate change in the majestic Mackenzie
                                Mountains, a range that forms part of the border between Canada’s Northwest Territories
                                and the Yukon and is on the front line of climate change. Among stunning wildlife,
                                including one of the world’s largest herds of mountain caribou, you’ll help take soil
                                and permafrost samples, monitor the status of the tree line, and record information on
                                native plant species. By helping researchers learn all they can about this fragile
                                environment now, you’ll help preserve it for the future.

                            <p>
                        </header>
                    </div>
                    <div class="right-section">
                        <div class="slider-container">
                            <div class="slides">
                                <img src="static/img/Mamet Carousel 2 credit Steve Mamet.jpg" alt="Image 1" class="slider-image">

                                <!-- Add more images as needed -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div id="stories">
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">

                    <h1 class="mb-5">You May Also Enjoy </h1>
                </div>
                <div class="owl-carousel testimonial-carousel position-relative">
                    <div class=" bg-white text-center border p-4">
                        <div class="overflow-hidden">
                            <a href="/sample-story">
                                <img class="img-fluid" src="static/img/Bodmer Carousel 6  credit Kimberly Chota.jpg" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0">John Doe</h5>
                        <p>New York, USA</p>
                        <p class="mb-0">Aboard a riverboat deep in the heart of Peru’s flooded Amazon region, you’ll help to conserve river
                            dolphins and monkeys, and protect the fragile South American wilderness.</p>
                    </div>
                    <div class=" bg-white text-center border p-4">
                        <div class="overflow-hidden">
                            <a href="/sample-story1">
                                <img class="img-fluid" src="static/img/Mamet Carousel 2 credit Steve Mamet.jpg" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0"> Steven Mamet</h5>
                        <p>Mackenzie Mountains, Canada </p>
                        <p class="mb-0">Shrinking sea ice, retreating glaciers, a tree line migrating further north, and
                            less snow that also melts earlier—what do these climate-related changes mean for the Arctic,
                            and for all of us?</p>
                    </div>
                    <div class=" bg-white text-center border p-4">
                        <div class="overflow-hidden">
                            <a href="/sample-story2">
                                <img class="img-fluid" src="static/img/Oviedo carousel 5 credit David Herra-Miranda.jpg" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0"> Lenin E</h5>
                        <p>Golfo Dulce, Costa Rica </p>
                        <p class="mt-2 mb-0">Join researchers in the pristine wilds of Costa Rica to conduct critical research on marine mammals. Your findings may help to develop a permanent marine protected area.</p>
                    </div>
                    <div class=" bg-white text-center border p-4">
                        <div class="overflow-hidden">
                            <a href="/sample-story1">
                                <img class="img-fluid" src="static/img/Mamet Carousel 2 credit Steve Mamet.jpg" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0"> Steven Mamet</h5>
                        <p>Mackenzie Mountains, Canada </p>
                        <p class="mb-0">Shrinking sea ice, retreating glaciers, a tree line migrating further north, and
                            less snow that also melts earlier—what do these climate-related changes mean for the Arctic,
                            and for all of us?</p>
                    </div>
                
                </div>
                <div style="position: relative; text-align: center; margin-top: 20px;">
                    <a href="/stories" class="btn btn-primary rounded-pill py-2 px-4" style="margin-right: 10px;">View
                        All</a>

                </div>
            </div>

        </div>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Company</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-1.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-2.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-3.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-2.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-3.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text"
                            placeholder="Your email">
                        <button type="button"
                            class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>

</body>

</html>